 {% extends "blog/base.html" %}

    {% block content %}
        <div class="post row">
                <div class="col-md-12">
                    <h2 class="col-md-7">{{ post.title }}</h2>
                    {% if post.published_date %}
                        <div class="date col-md-3">
                            {{ post.published_date }} 
                        </div>
                    {% endif %}
                    <div class="col-md-2">
                        <a class="btn btn-default" href="{% url "post_edit" pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a> 
                        <a class="btn btn-default" href="{% url "post_remove" pk=post.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
                    </div>
                </div>
                {% if post.image %}
                    <div class="col-md-4 post-image-div"> <img src="{{ post.image.url }}"> </div>
                {% endif %}
                <div class="col-md-8"><p>{{ post.text|linebreaks }}</p></div>
              
            </div>
    {% endblock %}