.page-header {
        background-color: #484949;
        margin-top: 0;
        padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
        font-family: 'Indie Flower', cursive;
        color: #ffffff;
        font-size: 36pt;
        font-weight: 400;
        text-decoration: none;
        text-align: right;
        margin:20;
}

.content {
        margin: 0 auto;
}


h2, h2>a, h2>a:hover, h2>a:active {
        font-family: 'Indie Flower', cursive;
        color: #7f0128;
        font-size: 26pt;
        text-decoration: none;
        margin:10px 0;

}

.date {
        font-family: 'Roboto', sans-serif;
        color: #7f0128;
        font-size: 14pt;
        margin:10px 0;

}

.save {
        float: right;
    }

.post-form textarea, .post-form input {
        width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited, .btn-default {
        color: #fff;
        float: right;
        font-size: 26pt;
        margin-right: 20px;
        border: none;
        background-image: none;
        background-color: #484949;
        margin:10px;

} 

.btn-default:hover {
    background-color: #484949;
    color: #fff;
}

.post {
        margin-bottom: 70px;
        border-top: 2px solid #484949;

}

.post h1 a, .post h1 a:visited {
        color: #000000;
}
p {
        float: left;
        color: #484949;
        font-family: 'Roboto', sans-serif;
        font-size: 14pt;

}
.post-image-div {
    background-color: #484949;
    padding: 10px;
    float: left;
    width: 300px;


}
.post-image-div img{
    width: 100%;
    height: auto;
}